
/* Selector universal, reiniciando los valores del navegador*/
*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html{
    background-color: white;


}

body{

    background-color: #abffbc; 
    font-family: Arial, Helvetica, sans-serif;
    color: #fffaf2;
    width: 1000px;
    height: 1000px;
    margin: 10px auto;
}
 /* Inicio header */

header{

    background-color: #55ffff;
    height: 100px

}
  /* Fin header */

 /* Inicio nav */
nav{

    background-color: #0f6302;
    height: 200px

}
  /* Fin nav */

 /* Inicio main */
main{

    background-color: #ffbef4;
    height: 550px

}


article {
    width: 300px;
    background-color: slateblue;
    padding: 1em;
    margin: 0 auto;
    height: 300px;
    text-align: center;
    display: inline-block;
}




img{
    width: 90%;
    margin: 0 auto;
    border: 3px dashed white;
    
}
h2 {
    text-align: center;
    width: 90%;
    color: white;
    border: 1px dashed black;
    padding-bottom: 3px;
    margin-bottom: 5px;

}

.uno {
    float: left;

}

.dos {
    float: left;

}

    /* Fin main */
    /* Inicio Footer */
footer{
    clear: both;
    background-color: #ba465f;
    height: 150px

}
  /* Fin Footer */
